<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>database</key>
		<string>Data</string>
	</dict>
	<key>net</key>
	<dict>
		<key>host</key>
		<string>https://api.inmotionapptest.net/v1/</string>
	</dict>
	<key>custom</key>
	<dict>
		<key>rootUri</key>
		<string>https://commet-customer.inmotionapptest.net</string>
	</dict>
	<key>clientId</key>
	<string>ngAuthApp</string>
	<key>organization</key>
	<string>commet</string>
	<key>isCustomer</key>
	<false/>
	<key>requiresLogin</key>
	<false/>
</dict>
</plist>
